@{
    ViewBag.Title = "BugOutNet - Bugs";
}

<div class="container" id="divBugsContainer">
    <div id="divSpinner" style="text-align:center; display:none;">
        <img src="~/Content/images/loading.gif" style="border:none;" />
    </div>
   @Html.Partial("_Bugs")
</div>