@{
    ViewBag.Title = "BugOutNet - Projects";
}

<div class="container" style="height: 500px; margin-top: 5px;" id="divCategories">
        <table id="categoryGrid"></table>
        <div id="categoryGridPager"></div>
</div>

<script>
    $(document).ready(function () {
        jQuery("#categoryGrid").jqGrid(
        {
            url: "@Url.Action( "Get", "Categories" )",
            datatype: "json",
            mtype: 'GET',
            colNames: ['Category Id', 'Name', 'Description', 'Created On'],
            colModel: [
                         { name: 'Id', index: 'Id', key: true, width: 40, align: 'left', editrules: { edithidden: true } },
                         { name: 'Name', index: 'Name', width: 80, align: 'left', editable: true, editrules: { required: true } },
                         { name: 'Description', index: 'Description', width: 250, align: 'left', editable: true, edittype: "textarea", editoptions: { cols: 30, rows: 10 }, editrules: { required: true } },
                         { name: 'Created', index: 'Created', width: 50, align: 'left', editrules: { edithidden: true }, formatter: "date", formatoptions: { newformat: "m/d/Y" } }],
            id: 'gridCategories',
            pager: "#categoryGridPager",
            viewrecords: true,
            shrinkToFit: true,
            gridview: true,
            multiselect: false,
            height: '430',
            width: '1140',
            rowNum: 20,
            caption: 'Categories',
            emptyrecords: 'No Categories',
            rowList: [10, 20, 30, 40, 50],
            altRows: true,
            loadonce: false,
            loadtext: "Loading Categories...",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            }
        });

        $("#categoryGrid").jqGrid('navGrid', '#categoryGridPager',
                {
                    add: true,
                    edit: true,
                    del: true,
                    search: false,
                    view: false,
                    refresh: false,
                    addtext: "",
                    addtitle: "Add New Category"
                },
                // edit options
                {
                    url: "@Url.Action("Edit", "Categories" )",
                    addCaption: "Add Category",
                    editCaption: "Edit Category",
                    bSubmit: "Submit",
                    bCancel: "Cancel",
                    bClose: "Close",
                    saveData: "Data has been changed! Save changes?",
                    bYes: "Yes",
                    bNo: "No",
                    bExit: "Cancel",
                    width: "auto",
                    height: "auto",
                    closeAfterEdit: true,
                    resize: false
                },
                // add options
                {
                    addCaption: "Add Category",
                    editCaption: "Edit Category",
                    url: "@Url.Action( "Create", "Categories" )",
                    closeAfterAdd: true,
                    width: "auto",
                    height: "auto",
                    resize: false
                },
                // delete
                {
                    caption: "Delete",
                    url: "@Url.Action( "Delete", "Categories" )",
                    closeAfterAdd: true,
                    msg: "Are you sure you want to delete this category?",
                    bSubmit: "Delete",
                    bCancel: "Cancel",
                    width: "auto",
                    height: "auto",
                    resize: false
                },
                //other fucking options
                // search
                {},
                {
                    closeOnEscape: true
                });
    });
</script>