@{
    ViewBag.Title = "BugOutNet - Priorities";
}

<div class="container" style="height: 500px;">
    <div style="padding-bottom: 10px; padding-top: 10px;">
        <button type="button" id="buttonNew" class="btn btn-primary btn-sm" style="background-color: black;" onclick="newButtonClick(); return false;">Add New Priority</button>
    </div>
    <table id="priorityGrid"></table>
    <div id="priorityGridPager"></div>
</div>

<script>
    $(document).ready(function () {

        jQuery("#priorityGrid").jqGrid(
        {
            url: "@Url.Action( "Get", "Priorities" )",
            datatype: "json",
            mtype: 'GET',
            colNames: ['Priority Id', 'Name', 'Description', 'Created On'],
            colModel: [
                         { name: 'Id', index: 'Id', width: 50, align: 'left', editrules: { edithidden: true } },
                         { name: 'Name', index: 'Name', width: 100, align: 'left', editable: true, editrules: { required: true } },
                         { name: 'Description', index: 'Description', width: 300, align: 'left', editable: true, edittype: "textarea", editoptions: { cols: 30, rows: 10 }, editrules: { required: true } },
                         { name: 'Created', index: 'Created', width: 60, align: 'left', editrules: { edithidden: true }, formatter: "date", formatoptions: { newformat: "m/d/Y" } }],
            pager: "#priorityGridPager",
            viewrecords: true,
            autowidth: true,
            multiselect: false,
            height: '100%',
            width: '100%',
            rowNum: 20,
            caption: 'Priorities',
            emptyrecords: 'No Priorities',
            rowList: [10, 20, 30, 40, 50],
            altRows: true,
            loadonce: false,
            loadtext: "Loading Priorities...",
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            }
        });

        $("#priorityGrid").jqGrid('navGrid', '#priorityGridPager',
                {
                    add: true,
                    edit: true,
                    del: true,
                    search: false,
                    view: false,
                    refresh: false,
                    addtext: "",
                    addtitle: "Add New Priority"
                },
                // edit options
                {
                    url: "@Url.Action("Edit", "Priorities" )",
                    addCaption: "Add Priority",
                    editCaption: "Edit Priority",
                    bSubmit: "Submit",
                    bCancel: "Cancel",
                    bClose: "Close",
                    saveData: "Data has been changed! Save changes?",
                    bYes: "Yes",
                    bNo: "No",
                    bExit: "Cancel",
                    width: "auto",
                    height: "auto",
                    closeAfterEdit: true,
                    resize: false
                },
                // add options
                {
                    addCaption: "Add Priority",
                    editCaption: "Edit Priority",
                    url: "@Url.Action( "Create", "Priorities" )",
                    closeAfterAdd: true,
                    width: "auto",
                    height: "auto",
                    resize: false
                },
                // delete
                {
                    caption: "Delete",
                    url: "@Url.Action( "Delete", "Priorities" )",
                    closeAfterAdd: true,
                    msg: "Are you sure you want to delete this priority?",
                    bSubmit: "Delete",
                    bCancel: "Cancel",
                    width: "auto",
                    height: "auto",
                    resize: false
                },
                //other fucking options
                // search
                {},
                {
                    closeOnEscape: true
                });
    });


    function newButtonClick() {

    }

</script>