@{
    ViewBag.Title = "BugOutNet - Settings";
}

<div class="container" style="height: 500px;">
    <div style="padding-bottom: 10px; padding-top: 10px;">
        <button type="button" id="buttonNew" class="btn btn-primary btn-sm" style="background-color: black;" onclick="newButtonClick(); return false;">Add New Status</button>
    </div>
    <table id="statusGrid"></table>
    <div id="statusGridPager"></div>
</div>

<script>
    
</script>