@{
    ViewBag.Title = "BugOutNet - Users";
}

<div class="container">
    <div id="divLoader" style="display:none; text-align: center;">
        <img src="~/Content/images/loading.gif" />
    </div>
    <div id="divUsersContent">
        @Html.Partial("_UsersGrid")
    </div>
</div>