@{
    ViewBag.Title = "Admin";
}
<div class="container">
    <div style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" id="divLoader">
        <img src="~/Content/images/loading.gif" />
    </div>
    <ul class="nav nav-tabs">
        <li class="tab-pane active"><a data-toggle="tab" class="toggle-loading" href="#content">Projects</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#content">Categories</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#content">Statuses</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#content">Priorities</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#content">Users</a></li>
        <li class="tab-pane"><a data-toggle="tab" class="toggle-loading" href="#content">Settings</a></li>
        @* Get a controller action to return the view we want to load in the content div, we don't want to load all the content at once. *@
    </ul>
    <div class="tab-content" id="divContent">
        <div class="tab-pane fade active in" id="content">@Html.Partial("_Projects")</div>
    </div>
</div>
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        $("#content").html("");       // clear the existing div of content
        var target = e.target.innerHTML;    // activated tab header
        
        // do an ajax call to get the Partial view contents
         $.ajax({
             type: 'GET',
             url: '@Url.Action( "GetMenuData", "Admin" )',
             data: {
                 name: target
             },
             beforeSend: function () {
                 $("#divLoader").show();
                 $("#divContent").hide();
             },
             success: function (result) {
                 $('#content').html(result);
             },
             complete: function () {
                 $("#divLoader").hide();
                 $("#divContent").show();
             }
         });
    });
</script>